#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 10px;
    border-radius: 3px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}
     
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}
     
#menu a:last-child {
    border: none;
}
     
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
     
#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}
     
#menu a.active:hover {
    background: #3074a4;
}

#base_menu {
      position: absolute;
      background: #efefef;
      top: 20px;
      left: 10px;
      /* padding: 50px; */
      font-family: 'Open Sans', sans-serif;
      z-index: 1;
}

.legend{
    position: absolute; 
    background: rgba(50, 50, 50, 0.4);
    z-index: 2;
    top: 180px;
    right: 10px;
    width: 160px; 
    height: 150px;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
}

.legend-item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
  }
.legend-item-color {
    /* display: block; */
    width: 15px; 
    height: 15px;
    margin-left: 5px; 
    margin-right: 5px; 
}

.legend-disable{
    display:none
}



/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
/* ::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; 
    height: 30px;
    background: dodgerblue;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}

::-moz-range-track {
    height: 30px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 30px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    height: 30px;
    background: dodgerblue;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 30px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 30px;
    border: none;
}

::-ms-tooltip { 
    display: none;
} */
